body,
html {
    background-color: rgb(255, 255, 255);
    color: white;
    font-family: Arial;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(151, 144, 96);
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-icon {
    height: 50px;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score {
    margin-top: 60px;
}

.reset-score-button,
.auto-play-button {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}

.reset-css {
    margin-top: 20px;
    background-color: rgb(52, 52, 52);
    width: 100%;
    padding: 20px;
    border: 2px dotted black;
    position: relative;
    z-index: 1;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes-button,
.no-button {
    margin: 5px;
    width: 80px;
    height: 30px;
    cursor: pointer;
}